@page
@model Ejounal_WebApp.Pages.Accounts.LoginPagesModel
@{
}
<div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="card w-50">
        <div class="card-header text-white" style="font-weight: bold; background-color: #00FFFF;">
            <i class="bi bi-person-circle"></i> Login
        </div>
        <form method="post">
            <div class="card-body">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3">
                    <label class="form-label"> Email </label>
                    <input type="text" class="form-control" />
                </div>
                <div class="mb-3">
                    <label class="form-label"> Password </label>
                    <input type="password" class="form-control" />
                </div>
                <div class="card-footer text-muted">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-check-circle" style="color: white;"></i> Login  </button>
                    <p>
                        <a asp-page="Create">Create new account ?</a>
                    </p>
                    <p>
                        <a asp-page="Create">Forgot Password ?</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
