@page
@model Ejounal_WebApp.Pages.Admins.ArticlePages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Articles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Articles.Title" class="control-label"></label>
                <input asp-for="Articles.Title" class="form-control" />
                <span asp-validation-for="Articles.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articles.SortDescription" class="control-label"></label>
                <input asp-for="Articles.SortDescription" class="form-control" />
                <span asp-validation-for="Articles.SortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articles.Description" class="control-label"></label>
                <input asp-for="Articles.Description" class="form-control" />
                <span asp-validation-for="Articles.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Articles.Images" class="control-label"></label>
                <input asp-for="Articles.Images" class="form-control" />
                <span asp-validation-for="Articles.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fields.Name" class="control-label">Fields Name</label>
                <input type="hidden" asp-for="Fields.Name" value="Infor" />
                <select asp-for="Fields.Id" class="form-control" asp-items="ViewBag.FiedsId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Articles.JournalsId" class="control-label">Journals Name</label>
                <select asp-for="Articles.JournalsId" class="form-control" asp-items="ViewBag.JournalsId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
