@using Ejounal_WebApp.Utils;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ejounal_WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ejounal_WebApp.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/2ee129af2d.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Ejounal_WebApp</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.Get<SessionAuthor>("ADMIN") != null)
                        {
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admins/ArticlePages/Index"><i class="fa-solid fas fa-book"></i> Article Management</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admins/ArticleResults/Index"><i class="fa-solid fas fa-edit"></i> ArticleResult Management</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admins/ArticleAccept/Index"><i class="fa fa-check-square"></i> Accept Articles</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Admins/UserPages/Index"><i class="fa-solid fas fa-address-card"></i> Users Management</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout"><i class="fa-solid fas fa-user-times"></i> Logout</a>
                            </li>
                        }
                        else if (Context.Session.Get<SessionAuthor>("AUTHOR") != null)
                        {
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Authors/ArticlesAuthor/Index"><i class="fa-solid fas fa-book"></i> Article Management </a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Authors/ArticleRating/Index"><i class="fa-solid fas fa-book-reader"></i> Article View</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Authors/AuthorPages/Index"><i class="fa-solid far fa-address-card"></i> Author Information </a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout"><i class="fa-solid fas fa-user-times"></i> Logout</a>
                            </li>
                        }
                        else if (Context.Session.Get<SessionAuthor>("REVIEWER") != null)
                        {
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Reviewers/ArticlesReviewer/Index"><i class="fa-solid fas fa-book-reader"></i> Article View</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Reviewers/ReviewerPages/Index"><i class="fa-solid far fa-address-card"></i> My Information</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/RegisterAuthor"><i class="fa-solid fas fa-user - edit"></i> Register Author</a>
                            </li>
                            <li class="nav-item ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Logout"><i class="fa-solid fas fa-user-times"></i> Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item  ms-auto">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login"><i class="fa-solid fas fa-user-check"></i> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Register"><i class="fa-solid fas fa-user-plus"></i> Register</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Ejounal_WebApp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>